.articlesList {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}