.resultPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    max-width: 1080px;

    .title {
        margin-bottom: 20px;
    }

    @media screen and (max-width: 1120px) {
        margin: 20px;
    }
}